.navbar {
  background-color: #333;
  display: flex;
  justify-content: center;
  top: 0;
  margin:0;
  width:100%;
  text-align: center;
  position: fixed;;
}
.nav-menu {
  list-style-type: none;
  padding:10px;
  margin:0;
  display: flex;
  float: left;
}
.nav-menu a{
    color: white;
    padding:10px;
    text-decoration: none;
    border-right:1px solid #666;
    display: inline-block;
}
.nav-menu a:hover{
    background-color: #555;
    transition:0.4s;
}
.nav-menu a .active{
    font-weight: bold;
    font-size:36px;
}
.nav-menu li:last-child{
  border-right:none;
}
.red{
   border-right:none;
}