*{
    margin:0;
    padding:0;
}
body{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hit{
display: flex;
background-color: blue;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 5px;
border-radius:10px;
}
.color{
    background-color: blue;
    color: white;
}
.color:hover{
    background-color: darkblue;
}
.input{
    padding:10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius:5px;
    border:1px solid #ddd;
}
.input:hover{
    border:1px solid red;
}
input:invalid{
    border:1px solid red;
}
.der{
    align-self: self-start;
    display: flex;
    gap: 5px;
    padding-left: 5px;
}
label{
    align-self: self-start;
    padding-left: 5px;
}
h1{
    margin-top: 10px;
    margin-bottom: 10px;
}